* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-clr: rgb(233, 233, 233);
  --approved-clr: #00ffc5;
  --denied-clr: #d55672;
  --special-clr: rgb(158, 0, 158);
}

.main-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  place-content: center;
  padding: 70px;
  background: linear-gradient(to right, purple, rgb(255, 0, 255));
}

.checkout-center {
  display: grid;
  position: relative;
  padding: 30px;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  max-width: 1400px;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.9);
}

/* =================
        Navbar
        ==================== */

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  height: 4rem;
  background: white;
  z-index: 1;
  font-size: 22px;
  place-items: center;
}

.nav-bar h1 {
  font-size: 50px;
  background-color: white;
  color: var(--special-clr);
}

.navigation-list {
  display: grid;
  width: 100%;
  /* justify-self: center; */
}

.navigation-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  background-color: white;
  max-width: 650px;
  margin: 0 auto;
}

.navigation-list ul li {
  font-size: 25px;
  justify-self: center;
  background-color: white;
  color: rgb(107, 107, 107);
}

.navigation-list ul .checkout {
  color: var(--special-clr);
}

.payment-navigation-list {
  display: grid;
  width: 100%;
  /* justify-self: center; */
}

.payment-navigation-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  background-color: white;
  max-width: 650px;
  margin: 0 auto;
}

.payment-navigation-list ul li {
  font-size: 25px;
  justify-self: center;
  background-color: white;
  color: rgb(107, 107, 107);
}

.payment-navigation-list ul .payment {
  color: var(--special-clr);
}


/* 
.navigation-list ul li:hover {
  color: var(--special-clr);
} */

/* .navigation-list ul li:active {
  color: var(--special-clr);
} */

/* =================
        CART
        ==================== */
.cart {
  font-size: 40px;
  place-items: center;
  background-color: white;
  /* background-color: red; */
  padding: 5px;
}

.cart:hover {
  color: var(--special-clr);
}

.cart-modal {
  display: none;
  position: absolute;
  top: 115px;
  left: 800px;
  height: fit-content;
  max-height: 100vh;
  width: 500px;
  padding: 10px;
  background-color: white;
  border: 2px solid;
  row-gap: 5px;
  border-radius: 10px;
  /* overflow: hidden; */
}

.show {
  display: grid;
}

.cart-modal h1 {
  display: grid;
  height: 40px;
  justify-content: center;
  font-size: 30px;
  border-bottom: 2px solid;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  gap: 20px;
  width: 100%;
  border: 2px solid;
  padding: 5px;
  height: 100%;
  font-size: 20px;
  background-color: lightgrey;
}

.item-info-container {
  display: grid;
  gap: 5px;
  width: 100%;
}

.image-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}
.item-name {
  height: 30px;
  font-size: 30px;
  color: var(--special-clr);
}

.item-quantity {
  display: flex;
  gap: 15px;
  border: 1px solid;
  border-radius: 5px;
  align-items: center;
  padding: 2px;
  width: fit-content;
}

.final-total {
  display: flex;
  justify-content: center;
}

.view-cart-btn {
  display: grid;
  width: 50%;
  height: 3rem;
  align-items: center;
  place-self: center;
  font-size: 20px;
  background-color: var(--special-clr);
  color: white;
  border: none;
  border-radius: 10px;
}

.view-cart-btn:hover {
  background-color: purple;
}

/* =================
checkout section
==================== */

.checkout-section {
  display: flex;
  background-color: var(--background-clr);
  gap: 30px;
  height: calc(100% - 6rem);
  border-radius: 30px;
  height: 100%;
}

/* =================

personal information

==================== */

.info-block {
  /* display: flex; */
  background-color: red;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.form {
  display: grid;
  background-color: rgb(233, 233, 233);
  height: 100%;
}

.form h1 {
  display: grid;
  background-color: var(--background-clr);
  place-content: center;
  font-size: 35px;
  height: fit-content;
  align-self: center;
  border-bottom: 2px solid var(--special-clr);
}

.input-div h3 {
  height: fit-content;
  padding-bottom: 5px;
  background-color: var(--background-clr);
}

.input-div {
  display: grid;
  height: fit-content;
  width: 100%;
  font-size: 20px;
  /* color: rgb(107, 107, 107); */
}
.address {
  gap: 10px;
}
/* actual input element */
input {
  border: 2px solid grey;
  height: 2rem;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

input::placeholder {
  color: rgb(177, 177, 177);
}

.input:focus {
  outline: 0;
}

#optionList {
  color: black;
  padding: 5px;
  z-index: 999;
  display: grid;
  width: 100px;
  height: 200px;
}

.fullname {
  display: flex;
  background-color: rgb(233, 233, 233);
  width: 100%;
  justify-content: center;
  gap: 25px;
}

.phone-block {
  gap: 5px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.areacode {
  width: 80px;
}
.normalInput {
  border: 2px solid grey;
}

.validInput {
  border: 2px solid green;
}

.invalidInput {
  border: 2px solid red;
}

/* =================
delivery info
==================== */
.delivery-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  font-size: 20px;
  gap: 20px;
  height: 100%;
}

.price-blocks-div {
  display: flex;
  gap: 30px;
  background-color: rgb(233, 233, 233);
}

.price-block {
  display: grid;
  background-color: white;
  width: 100%;
  gap: 0;
  align-items: center;
  border: 2px solid grey;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.price-block:hover,
.price-block:hover h2,
.price-block:hover h4 {
  color: white;
  border: 0.1px solid var(--special-clr);
  background-color: var(--special-clr);
  cursor: pointer;
}

.delivery-price {
  background-color: rgb(233, 233, 233);
  font-size: 55px;
}

.express-delivery strong {
  background-color: white;
  color: var(--special-clr);
}

.express-delivery:hover strong {
  background: var(--special-clr);
  color: white;
}

.delivery-info h3 {
  background-color: rgb(233, 233, 233);
  color: rgb(107, 107, 107);
}

.price-block h4,
.price-block h2 {
  background-color: white;
  justify-self: center;
}

.selected {
  border: 5px solid var(--special-clr);
}

/* delivery estimated time */

.estimated-info {
  background-color: rgb(233, 233, 233);
  color: black;
  font-size: 22px;
}

.estimated-info strong {
  color: var(--special-clr);
  font-size: 22px;
}

/* subscription info */
.subscriptions {
  display: grid;
  grid-template-columns: 0.5fr 5fr;
  align-items: center;
  background-color: rgb(233, 233, 233);
  color: rgb(107, 107, 107);
  gap: 5px;
  /* width: 100%; */
  justify-self: start;
}

.subscriptions input {
  height: 25px;
}

label {
  background-color: rgb(233, 233, 233);
}

.subscriptions .checkbox:hover {
  border: 2px solid red;
}

.subscription,
.newaccount {
  display: flex;
}

.confirm-order-link {
  justify-self: center;
  pointer-events: none;
  cursor: pointer;
}

.confirm-order-btn {
  height: 80px;
  font-size: 25px;
  background-color: lightgrey;
  border: 2px solid var(--special-clr);
  border-radius: 20px;
  color: black;
  width: 300px;
  justify-self: center;
}

.confirm-order-btn-active {
  background-color: var(--special-clr);
  border: 2px solid var(--special-clr);
  color: white;
}

.confirm-order-btn:hover {
  color: white;
  background-color: rgb(109, 1, 109);
  border: 4px solid rgb(109, 1, 109);
}

.links {
  display: flex;
  /* grid-template-columns: 1f 1fr; */
  justify-content: space-between;
  /* color: blackd; */
  /* color: var(--special-clr); */
  /* text-decoration: none; */
}


.payment-center{
  display: grid;
  justify-content: center;
  font-size: 22px;
}